
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  height:100%;
  color:#272343;
  background-color:#fffffe;
}

.content{
  text-align: center;
  position: fixed;
  padding: 50px;
  top: 50%;
  left: 50%;
  background-color: #fffffe;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 1px 3px #272343, 0 1px 2px #272343;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.content:hover{
  box-shadow: 0 14px 28px #272343, 0 10px 10px #272343
}
