{% extends 'base.html' %}

{% block head %}
<title>User Colors!</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Welcome to User Colors!</h1>
    <h2>Please enter a User and their favorite color</h2>
    <div class = "form">
      <form actions="/" method="POST">
        <input type="text" name="name" id="name">
        <select id="color" name="color">
          <option value="blue">Blue</option>
          <option value="red">Red</option>
          <option value="green">Green</option>
          <option value="purple">Purple</option>
        </select>
        <input type="submit" value="Add User">
      </form>
    </div>
    <a href="find"<h2>Or look up a User!</h2></a>
</div>
{% endblock %}
